In [24]:
import pandas as pd
import numpy as np

## Read in the transaction data (select correct path for each of the files)
order_products_prior = pd.read_csv(r"....\order_products__prior.csv", sep = ',', skipinitialspace = True)
orders = pd.read_csv(r"....\orders.csv", sep = ',', skipinitialspace = True)
products = pd.read_csv(r"....\products.csv", sep = ',', skipinitialspace = True)
departments = pd.read_csv(r"....\departments.csv", sep = ',', skipinitialspace = True)
aisles = pd.read_csv(r"....\aisles.csv", sep = ',', skipinitialspace = True)

In [25]:
orders_prior = pd.merge(order_products_prior, orders, left_on='order_id', right_on='order_id', how='left')
orders_products = pd.merge(orders_prior, products, left_on='product_id', right_on='product_id', how='left')
orders_departments = pd.merge(orders_products, departments, left_on='department_id', right_on='department_id', how='left')
all_orders = pd.merge(orders_departments, aisles, left_on='aisle_id', right_on='aisle_id', how='left')

In [26]:
print(all_orders.head(5))

   order_id  product_id  add_to_cart_order  reordered  user_id eval_set  \
0         2       33120                  1          1   202279    prior
1         2       28985                  2          1   202279    prior
2         2        9327                  3          0   202279    prior
3         2       45918                  4          1   202279    prior
4         2       30035                  5          0   202279    prior

   order_number  order_dow  order_hour_of_day  days_since_prior_order  \
0             3          5                  9                     8.0
1             3          5                  9                     8.0
2             3          5                  9                     8.0
3             3          5                  9                     8.0
4             3          5                  9                     8.0

            product_name  aisle_id  department_id  department  \
0     Organic Egg Whites        86             16  dairy eggs
1  Michigan Organic Kale        83              4     produce
2          Garlic Powder       104             13      pantry
3         Coconut Butter        19             13      pantry
4      Natural Sweetener        17             13      pantry

                aisle
0                eggs
1    fresh vegetables
2   spices seasonings
3       oils vinegars
4  baking ingredients

In [27]:
import numpy as np
import pandas as pd

# ADD product quantity (how much of each product was bought, can differ each order)
product_quantity = np.random.choice([1, 2, 3, 4], size=len(all_orders), p=[0.5, 0.2, 0.2, 0.1])
all_orders['PRODUCT_QUANTITY'] = product_quantity

print(all_orders.head(40))

    order_id  product_id  add_to_cart_order  reordered  user_id eval_set  \
0          2       33120                  1          1   202279    prior
1          2       28985                  2          1   202279    prior
2          2        9327                  3          0   202279    prior
3          2       45918                  4          1   202279    prior
4          2       30035                  5          0   202279    prior
5          2       17794                  6          1   202279    prior
6          2       40141                  7          1   202279    prior
7          2        1819                  8          1   202279    prior
8          2       43668                  9          0   202279    prior
9          3       33754                  1          1   205970    prior
10         3       24838                  2          1   205970    prior
11         3       17704                  3          1   205970    prior
12         3       21903                  4          1   205970    prior
13         3       17668                  5          1   205970    prior
14         3       46667                  6          1   205970    prior
15         3       17461                  7          1   205970    prior
16         3       32665                  8          1   205970    prior
17         4       46842                  1          0   178520    prior
18         4       26434                  2          1   178520    prior
19         4       39758                  3          1   178520    prior
20         4       27761                  4          1   178520    prior
21         4       10054                  5          1   178520    prior
22         4       21351                  6          1   178520    prior
23         4       22598                  7          1   178520    prior
24         4       34862                  8          1   178520    prior
25         4       40285                  9          1   178520    prior
26         4       17616                 10          1   178520    prior
27         4       25146                 11          1   178520    prior
28         4       32645                 12          1   178520    prior
29         4       41276                 13          1   178520    prior
30         5       13176                  1          1   156122    prior
31         5       15005                  2          1   156122    prior
32         5       47329                  3          1   156122    prior
33         5       27966                  4          1   156122    prior
34         5       23909                  5          1   156122    prior
35         5       48370                  6          1   156122    prior
36         5       13245                  7          1   156122    prior
37         5        9633                  8          1   156122    prior
38         5       27360                  9          1   156122    prior
39         5        6348                 10          1   156122    prior

    order_number  order_dow  order_hour_of_day  days_since_prior_order  \
0              3          5                  9                     8.0
1              3          5                  9                     8.0
2              3          5                  9                     8.0
3              3          5                  9                     8.0
4              3          5                  9                     8.0
5              3          5                  9                     8.0
6              3          5                  9                     8.0
7              3          5                  9                     8.0
8              3          5                  9                     8.0
9             16          5                 17                    12.0
10            16          5                 17                    12.0
11            16          5                 17                    12.0
12            16          5                 17                    12.0
13            16          5                 17                    12.0
14            16          5                 17                    12.0
15            16          5                 17                    12.0
16            16          5                 17                    12.0
17            36          1                  9                     7.0
18            36          1                  9                     7.0
19            36          1                  9                     7.0
20            36          1                  9                     7.0
21            36          1                  9                     7.0
22            36          1                  9                     7.0
23            36          1                  9                     7.0
24            36          1                  9                     7.0
25            36          1                  9                     7.0
26            36          1                  9                     7.0
27            36          1                  9                     7.0
28            36          1                  9                     7.0
29            36          1                  9                     7.0
30            42          6                 16                     9.0
31            42          6                 16                     9.0
32            42          6                 16                     9.0
33            42          6                 16                     9.0
34            42          6                 16                     9.0
35            42          6                 16                     9.0
36            42          6                 16                     9.0
37            42          6                 16                     9.0
38            42          6                 16                     9.0
39            42          6                 16                     9.0

                                         product_name  aisle_id  \
0                                  Organic Egg Whites        86
1                               Michigan Organic Kale        83
2                                       Garlic Powder       104
3                                      Coconut Butter        19
4                                   Natural Sweetener        17
5                                             Carrots        83
6                    Original Unflavored Gelatine Mix       105
7            All Natural No Stir Creamy Almond Butter        88
8                             Classic Blend Cole Slaw       123
9   Total 2% with Strawberry Lowfat Greek Strained...       120
10                             Unsweetened Almondmilk        91
11                                             Lemons       123
12                               Organic Baby Spinach       123
13    Unsweetened Chocolate Almond Breeze Almond Milk        91
14                                Organic Ginger Root        83
15  Air Chilled Organic Boneless Skinless Chicken ...        35
16           Organic Ezekiel 49 Bread Cinnamon Raisin       112
17                            Plain Pre-Sliced Bagels        93
18                            Honey/Lemon Cough Drops        11
19         Chewy 25% Low Sugar Chocolate Chip Granola         3
20                        Oats & Chocolate Chewy Bars        48
21        Kellogg's Nutri-Grain Apple Cinnamon Cereal        48
22  Nutri-Grain Soft Baked Strawberry Cereal Break...        48
23             Kellogg's Nutri-Grain Blueberry Cereal        48
24                               Tiny Twists Pretzels       107
25                              Traditional Snack Mix       125
26              Goldfish Cheddar Baked Snack Crackers        78
27                              Original Orange Juice        31
28                             Sugarfree Energy Drink        64
29                                       Energy Drink        64
30                             Bag of Organic Bananas        24
31                               Just Crisp, Parmesan        89
32                                  Fresh Fruit Salad         1
33                                Organic Raspberries       123
34                                2% Reduced Fat Milk        84
35                             Sensitive Toilet Paper        54
36              Natural Artesian Water, Mini & Mobile       115
37                                  Matzos, Thin, Tea        33
38           Boneless Skinless Chicken Breast Fillets        49
39                       Mini Original Babybel Cheese        21

    department_id     department                          aisle  \
0              16     dairy eggs                           eggs
1               4        produce               fresh vegetables
2              13         pantry              spices seasonings
3              13         pantry                  oils vinegars
4              13         pantry             baking ingredients
5               4        produce               fresh vegetables
6              13         pantry     doughs gelatins bake mixes
7              13         pantry                        spreads
8               4        produce     packaged vegetables fruits
9              16     dairy eggs                         yogurt
10             16     dairy eggs                soy lactosefree
11              4        produce     packaged vegetables fruits
12              4        produce     packaged vegetables fruits
13             16     dairy eggs                soy lactosefree
14              4        produce               fresh vegetables
15             12   meat seafood                poultry counter
16              3         bakery                          bread
17              3         bakery               breakfast bakery
18             11  personal care               cold flu allergy
19             19         snacks            energy granola bars
20             14      breakfast        breakfast bars pastries
21             14      breakfast        breakfast bars pastries
22             14      breakfast        breakfast bars pastries
23             14      breakfast        breakfast bars pastries
24             19         snacks                 chips pretzels
25             19         snacks            trail mix snack mix
26             19         snacks                       crackers
27              7      beverages                   refrigerated
28              7      beverages           energy sports drinks
29              7      beverages           energy sports drinks
30              4        produce                   fresh fruits
31             13         pantry        salad dressing toppings
32             20           deli          prepared soups salads
33              4        produce     packaged vegetables fruits
34             16     dairy eggs                           milk
35             17      household                    paper goods
36              7      beverages  water seltzer sparkling water
37              6  international                   kosher foods
38             12   meat seafood               packaged poultry
39             16     dairy eggs                packaged cheese

    PRODUCT_QUANTITY
0                  1
1                  1
2                  2
3                  1
4                  1
5                  1
6                  1
7                  1
8                  1
9                  1
10                 1
11                 4
12                 1
13                 1
14                 1
15                 3
16                 1
17                 1
18                 1
19                 2
20                 2
21                 1
22                 1
23                 1
24                 1
25                 2
26                 1
27                 3
28                 3
29                 1
30                 1
31                 3
32                 1
33                 3
34                 4
35                 1
36                 2
37                 2
38                 4
39                 1

In [28]:
## ADD ratings: same rating for product each time it is bought
# Create a mapping of unique products to random values
product_mapping = pd.Series(np.random.choice([1, 2, 3, 4, 5], size=all_orders['product_id'].nunique(), p=[0.2, 0.2, 0.2, 0.2, 0.2]), index=all_orders['product_id'].unique())

# Map the values to the original DataFrame
all_orders['ratings'] = all_orders['product_id'].map(product_mapping)

num_products = len(all_orders['ratings'].dropna())
print("Number of products in the RATINGS column: " + str(num_products))

# Number of unique products per each cell value in the RATINGS column
products_per_value = all_orders.groupby('ratings')['product_id'].nunique()
print("Number of unique products per cell value in the RATINGS column:")
print(products_per_value)

Number of products in the RATINGS column: 32434489
Number of unique products per cell value in the RATINGS column:
ratings
1    10012
2    10066
3     9919
4    10041
5     9639
Name: product_id, dtype: int64

In [29]:
## ADD NUTRISCORE per product: same score each time it is bought
# Create a mapping of unique products to random values
product_mapping = pd.Series(np.random.choice([0, 1, 2, 3, 4, 5], size=all_orders['product_id'].nunique(), p=[0.78, 0.08, 0.03, 0.03, 0.05, 0.03]), index=all_orders['product_id'].unique())

# Map the values to the original DataFrame
all_orders['NUTRISCORE'] = all_orders['product_id'].map(product_mapping)

num_products = len(all_orders['NUTRISCORE'].dropna())
print("Number of products in the NUTRISCORE column: " + str(num_products))

# Number of unique products per each cell value in the NUTRISCORE column
products_per_value = all_orders.groupby('NUTRISCORE')['product_id'].nunique()
print("Number of unique products per cell value in the NUTRISCORE column:")
print(products_per_value)

Number of products in the NUTRISCORE column: 32434489
Number of unique products per cell value in the NUTRISCORE column:
NUTRISCORE
0    38739
1     3999
2     1492
3     1475
4     2482
5     1490
Name: product_id, dtype: int64

In [30]:
## ADD ORGANIC per product: same score each time it is bought (50% 1, 50% 0)
# Create a mapping of unique products to random values
product_mapping = pd.Series(np.random.choice([0, 1], size=all_orders['product_id'].nunique(), p=[0.50, 0.50]), index=all_orders['product_id'].unique())

# Map the values to the original DataFrame
all_orders['ORGANIC50'] = all_orders['product_id'].map(product_mapping)

num_products = len(all_orders['ORGANIC50'].dropna())
print("Number of products in the ORGANIC column: " + str(num_products))

# Number of unique products per each cell value in the ORGANIC50 column
products_per_value = all_orders.groupby('ORGANIC50')['product_id'].nunique()
print("Number of unique products per cell value in the ORGANIC50 column:")
print(products_per_value)

Number of products in the ORGANIC column: 32434489
Number of unique products per cell value in the ORGANIC50 column:
ORGANIC50
0    24799
1    24878
Name: product_id, dtype: int64

In [31]:
## change names of variables into same as Dutch retailer data 
all_orders.rename(columns={'order_id': 'ORDER_ID'}, inplace=True)
all_orders.rename(columns={'product_id': 'PRODUCT_ID'}, inplace=True)
all_orders.rename(columns={'user_id': 'CUSTOMER_ID'}, inplace=True)
all_orders.rename(columns={'eval_set': 'EVAL_SET'}, inplace=True)
all_orders.rename(columns={'product_name': 'OMSCHRIJVING'}, inplace=True)
all_orders.rename(columns={'department': 'HOOFDCATEGORIE'}, inplace=True)
all_orders.rename(columns={'aisle': 'SUBCATEGORIE'}, inplace=True)

In [33]:
print(all_orders.shape)

(32434489, 19)

In [34]:
#select 25% of the data
all_orders_25 = all_orders.head(int(len(all_orders) * 0.25))

In [36]:
## 1. remove ITEMS that are not bought enough 

product_counts = all_orders_25['PRODUCT_ID'].value_counts() 

products_to_keep = product_counts[product_counts >= 3].index

df10 = pd.DataFrame(products_to_keep, columns=['PRODUCT_ID']) #create second dataframe with the ITEMS that should be kept
print(df10)
df11 = all_orders_25.merge(df10, on=['PRODUCT_ID'], how='left', indicator=True).query('_merge == "both"').drop(columns='_merge')
print(df11.shape)

       PRODUCT_ID
0           24852
1           13176
2           21137
3           21903
4           47209
...           ...
41582       24602
41583       22536
41584       32582
41585       28229
41586       47705

[41587 rows x 1 columns]
(8099049, 19)

In [37]:
print(str(len(df11['CUSTOMER_ID'].unique())) +' unique customers')
min_basket_per_user = df11.groupby('CUSTOMER_ID')['ORDER_ID'].nunique().min()
print("Min basket per user: " + str(min_basket_per_user))

178896 unique customers
Min basket per user: 1

In [38]:
## 2. KEEP ONLY BASKETS WITH >= 3 ITEMS 

basket_sizes = df11['ORDER_ID'].value_counts()

orders_to_keep = basket_sizes[basket_sizes >= 3].index    

df12 = pd.DataFrame(orders_to_keep, columns=['ORDER_ID']) #create second dataframe with the ORDER_IDs that should be kept 

df13 = df11.merge(df12, on=['ORDER_ID'], how='left', indicator=True).query('_merge == "both"').drop(columns='_merge')
print(df13.shape)

(7966178, 19)

In [39]:
print(str(len(df13['CUSTOMER_ID'].unique())) +' unique customers')
min_basket_per_user = df13.groupby('CUSTOMER_ID')['ORDER_ID'].nunique().min()
print("Min basket per user: " + str(min_basket_per_user))

169638 unique customers
Min basket per user: 1

In [40]:
## 3. remove USERS with <3 orders(baskets)

order_counts_peruser = df13.groupby('CUSTOMER_ID')['ORDER_ID'].nunique()

users_to_keep = order_counts_peruser[order_counts_peruser >=3].index
print(users_to_keep)
df14 = pd.DataFrame(users_to_keep, columns=['CUSTOMER_ID']) #create second dataframe with the USERS that should be kept
print(df10)
df15 = df13.merge(df14, on=['CUSTOMER_ID'], how='left', indicator=True).query('_merge == "both"')
print(df11.shape)

Int64Index([     1,      2,      3,      7,     17,     21,     22,     27,
                28,     29,
            ...
            206192, 206193, 206195, 206197, 206199, 206201, 206202, 206206,
            206208, 206209],
           dtype='int64', name='CUSTOMER_ID', length=89685)
       PRODUCT_ID
0           24852
1           13176
2           21137
3           21903
4           47209
...           ...
41582       24602
41583       22536
41584       32582
41585       28229
41586       47705

[41587 rows x 1 columns]
(8099049, 19)

In [41]:
# Check if preprocessing went correctly
average_basket_size = df15.groupby('ORDER_ID')['PRODUCT_ID'].count().mean()
min_basket_size = df15.groupby('ORDER_ID')['PRODUCT_ID'].count().min()
max_basket_size = df15.groupby('ORDER_ID')['PRODUCT_ID'].count().max()
print("Average basket size: " + str(average_basket_size))
print("Min basket size: " + str(min_basket_size))
print("Max basket size: " + str(max_basket_size))

average_basket_per_user = df15.groupby('CUSTOMER_ID')['ORDER_ID'].nunique().mean()
min_basket_per_user = df15.groupby('CUSTOMER_ID')['ORDER_ID'].nunique().min()
max_basket_per_user = df15.groupby('CUSTOMER_ID')['ORDER_ID'].nunique().max()
print("Average basket per user: " + str(average_basket_per_user))
print("Min basket per user: " + str(min_basket_per_user))
print("Max basket per user: " + str(max_basket_per_user))

Average basket size: 11.218981342671661
Min basket size: 3
Max basket size: 137
Average basket per user: 6.73108100574232
Min basket per user: 3
Max basket per user: 41

In [43]:
print(df15.shape)

(6772641, 20)

In [45]:
## convert all cells + headers to upper for easy analysis later
df15 = df15.applymap(lambda x: x.upper() if isinstance(x, str) else x)    
df15.columns = map(str.upper, df15.columns)

In [47]:
## save file as CSV
df15.to_csv("......csv", index=False, na_rep='NaN')